/* Custom CSS For the page */

/* Footer CSS Start */


.footer {
	height: 409px;
	background: #3d4951;
	-webkit-background-position: center;
	-moz-background-position: center;
	-ms-background-position: center;
}

.footer-text {
	font-size: 14px;
	font-weight: 300;
	color: #a6a6a6;
    width: 100%;
    padding: 50px 0 0 0;
    margin: 0px auto;
	height: 100%;
    clear: both;
}

.footer-column {
    width: 100px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: auto;
}

.footer-column a {
    color: white;
}

.footer-text ul li {
	margin: 15px 0;
	list-style-type: none;
}

.footer-title {
	font-size: 16px;
	color: white;
	font-weight: 500;
}

.footer-container {
	width: 650px;
	margin: 0px auto;
}

.footer-title p {
	font-weight: 400;
	font-size: 0.7em;
	margin: 10px;
}

.footer-icon {
	width: 40px;
	margin: 40px auto 0;
}

.footer-icon img {
	width: 40px;
}

.footer-copyright {
	width: 200px;
	margin: 10px auto 50px;
	text-align: center;
}

/* Footer CSS End */