
{% extends "head.html" %}
<!-- Port Folio-->
 <div>
        <img src="https://images7.alphacoders.com/546/546508.jpg" alt="image sagarmatha" width="100%" height="auto" >
        <div class="text-center">
         <div class="carousel-caption">
            <h1 style="font-size:80px;"> Welcome to Project-H</h1>
            <p style="font-size:30px;">GET OUR SERVICE</p>
            <button class="btn btn-primary btn-lg">Apply Now</button>
                
        </div>
           
    </div>
<!--portfolio ends here-->