
{% extends 'home/head.html' %}

{% block content %} 

<!-- load all the static files -->
{% load static %}


<!-- Front Jumbotron -->

<div class="jumbotron jumbotron-fluid bg-primary text-white">
    <div class="container text-center">
        <h1 class="display-3">Project-H</h1>
        <p class="lead">TECH FOR SOCIAL GOOD</p>
        <hr class="my-4">
        <p>BECAUSE THE WORLD AIN'T GONNA FIX ITSELF!</p>
        <p class="lead">
        <a class="btn btn-warning btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>

<!-- Front Jumbotron End -->

<!-- Our Works -->
<h2 class="display-4 py-5 mt-5 text-center">Our Works</h2>
<div class="container">

    <!-- row for the works card -->
    <div class="row">

        <!-- single card with dimensions -->
        <div class="col-md-6 col-lg-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="{% static "img/people.jpg"%}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-danger">Read More...</a>
                </div>
            </div>    
        </div>

        <!-- single card with dimensions -->
        <div class="col-md-6 col-lg-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="{% static "img/people.jpg"%}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-danger">Read More...</a>
                </div>
            </div>    
        </div>

        <!-- single card with dimensions -->
        <div class="col-md-6 col-lg-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="{% static "img/people.jpg"%}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-danger">Read More...</a>
                </div>
            </div>    
        </div>
    </div>
</div>
<div class="py-4 mt-4"></div>
<!-- Our Works End -->


<!-- Port Folio-->
<!-- <div>
        <img src="https://images7.alphacoders.com/546/546508.jpg" alt="image sagarmatha" width="100%" height="auto" >
        <div class="text-center">
         <div class="carousel-caption">
            <h1 style="font-size:80px;"> Welcome to Project-H</h1>
            <p style="font-size:30px;">GET OUR SERVICE</p>
            <button class="btn btn-primary btn-lg">Apply Now</button>
                
        </div>
    </div>      
</div> -->
<!--portfolio ends here-->

{% endblock %}
